{% extends "::layout.html.twig" %}
{% block body %}
    <div class="ui horizontal segments">
        <div class="ui segment">
        </div>
        <div class="ui segment">
            <form method="post" class="ui form">
                <div class="field">
                    <label>Adresse de la BDD</label>
                    <input name="host" placeholder="Adresse de la BDD" type="text" value="{{ datas['host'] }}">
                </div>
                <div class="field">
                    <label>Port</label>
                    <input name="port" placeholder="Port" type="text" value="{{ datas['port'] }}">
                </div>

                <div class="field">
                    <label>Nom de la base de données</label>
                    <input name="name" placeholder="Nom de la base de données" type="text" value="{{ datas['name'] }}">
                </div>
                <div class="field">
                    <label>Utilisateur BDD</label>
                    <input name="user" placeholder="Utilisateur BDD" type="text" value="{{ datas['user'] }}">
                </div>
                <div class="field">
                    <label>Mot de passe</label>
                    <input name="password" placeholder="Mot de passe" type="text" value="{{ datas['password'] }}">
                </div>
                <button class="positive ui button" type="submit">Submit</button>
                <a style="float: right;" class="primary ui button" href="{{ path('config_admin_export') }}">Export</a>

            </form>


        </div>
        <div class="ui segment">
        </div>
    </div>
    <script type="text/javascript">
        $('.menu').find('.item').removeClass('active');
        $('.menu').find('.menuConfig').addClass('active');
    </script>
{% endblock %}